.title{
    font-weight: 600;
    font-size: 40px;
}
.daily-item{
    background-color: rgb(245, 245, 245);
    display:flex;
    justify-content: space-between;
    height:45px;
    margin:5px;
    cursor:pointer;
    align-items: center;
    font-size:15px;
    border-radius: 10px;
    padding: 5px 20px;
    
}
.small-icon{
    width:45px;
}
.day{
    flex:1 1;
}
.description{
    flex: 1 1;
}
.min-max{
    flex: 1 1;
}
.panel{
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
    justify-content: left;
}
